@* @{
  Layout = "_Layout";
}

@using Library.Models;


<h1>Active Patrons:</h1>

@if (@Model.Count == 0)
{
  <h4>No current patrons!</h4>
  <p>@Html.ActionLink("Add Patron", "Create", new {id = patron.patronId})</p>
} 

<ul>
  @foreach(Patron patron in Model)
  {
    <li>@Html.ActionLink($"{patron.Name}", "Details", "Patron", new { id = patron.PatronId })</li>
  }
</ul>


<h1>Book Library:</h1>
@if (@Model.Count == 0)
{
  <h4>No books in library!</h4>
	<p>@Html.ActionLink("Add Book ", "Create", new {id = book.BookId})</p>
} 
<ul>
  @foreach(Book book in Model)
  {
    <li>@Html.ActionLink($"{book.Title}", "Details", new { id = book.BookId })</li>
  }
</ul>
 *@
