@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h3>Add a new book</h3>

@using (Html.BeginForm())
{

  <h5>Title:</h5>
  @Html.TextBoxFor(model => model.Title)
  <h5>Author:</h5>
  @Html.TextBoxFor(model => model.Author)

  <h5>Publishing Date:</h5>
  @Html.TextBoxFor(model => model.PublishDate, new {@type="date", @placeholder="yyyy-mm-dd"})

  <h5> Patron Checking Out this Book: </h5>
  @Html.Label("Patron")
  @Html.DropDownList("PatronId")

  <input type="submit" value="Add new item" class="btn btn-default" , required/>
}
<p>@Html.ActionLink("Book List", "Index")</p>