@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h4>Add a new book</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)

  @Html.Label("Select Patron")
  @Html.DropDownList("PatronId", "Create w/o patron")

  <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all books", "Index")</p>