@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Book Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Book has not been checked out </p>
}
else
{
  <h4>This book has been checked out by:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Patron.Name</li>
    @* @using (Html.BeginForm("DeleteCategory", "Items")) *@
    {
      @Html.Hidden("joinId", @join.BookPatronId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to Book list", "Index")</p>
<p>@Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId })</p>