@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Book Details</h2>
<hr />
<h3>Book Title: @Html.DisplayFor(model => model.Title)</h3>
<h5>Author: @Html.DisplayFor(model => model.Author)</h5>
<h5>Published: @Html.DisplayFor(model=>model.PublishDate)</h5>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Book has not been checked out </p>
}
else
{
  <h4>This book has been checked out by:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Patron.FirstName</li>
    @* @using (Html.BeginForm("DeleteCategory", "Items")) *@
    {
      @Html.Hidden("joinId", @join.BookPatronId)
      <input type="submit" value="Return Book"/>
    }
  }
  </ul>
}

<p> @Html.ActionLink("Book list", "Index")</p>
<p>@Html.ActionLink("Edit Book", "Edit", new {id= Model.BookId})</p>
<p>@Html.ActionLink("Delete Book", "Delete", new { id =Model.BookId })</p>