@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Edit</h2>

<h4>Edit this Book: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)
  @Html.LabelFor(model => model.Author)
  @Html.EditorFor(model => model.Author)
  @Html.LabelFor(model => model.PublishDate)
  @Html.EditorFor(model => model.PublishDate)
  
  @* @Html.Label("Select Patron")
  @Html.DropDownList("PatronId", "Patron") *@

  <input id="btn" type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Books list", "Index")</p>