@using Library.ViewModels
@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
 
 @{
  Layout = "_Layout";
}

  <h1>All Roles</h1>

@if (Model.Any())
{
  foreach(var role in Model)
  {
    <div class="card" style="width: 18rem;">
    <div class ="card-header">
     Role Id: @role.Id
      </div>
      <div class="card-body">
        <h5 class="card-title">@role.Name</h5>
      </div>
      <div class="card-footer"><p>@Html.ActionLink("Edit Role", "EditRoles","Administration", new { id = @role.Id })</p></div>
    </div>
    <br>
  }
}
else
{

<div class="card" style="width: 18rem;">
  <div class ="card-header">
    No Roles created yet
  </div>
  <div class="card-body">
    <h5 class="card-title">Use the button below to create role</h5>
    <p>@Html.ActionLink("Create Role", "CreateRole","Administration")</p>
  </div>
</div>
}
<p>@Html.ActionLink("Create Role", "CreateRole","Administration")</p>