@{
  Layout = "_Layout";
}

@model Library.Models.Patron;

<h4>Add a New Patron</h4>

@using (Html.BeginForm())
{
  <h2> First Name: </h2>
  @Html.TextBoxFor(model => model.FirstName)

  <h2> Last Name: </h2>
  @Html.TextBoxFor(model => model.LastName)

  <h2>Address:</h2>
  <p> Street Address: </p> @Html.TextBoxFor(model => model.StreetAddress)
  <p> City, State: </p> @Html.TextBoxFor(model => model.CityState, new {@placeholder="City,State"})

  <h2> Phone Number: </h2>
  @Html.TextBoxFor(model => model.PhoneNumber, new { @value="+1-(xxx)-xxx-xxxx"})

  <h2> Date Joined </h2>
  @Html.TextBoxFor(model => model.DateJoined, new {@type="date", @placeholder="yyyy-mm-dd"})

  <div class="form-group" >
  <h2> Check out Book:</h2>
  @Html.DropDownList("BookId", "Not Now")
  </div>

  <input id="btn" type="submit" value="Add New Patron" required>
}

@Html.ActionLink("Patron List", "Index")