@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h4>Add a new Patron</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.PhoneNumber)
  @Html.TextBoxFor(model => model.PhoneNumber, new {@placeholder="xxx-xxx-xxxx"})

  @Html.LabelFor(model=> model.DateJoined)
  @Html.TextBoxFor(model => model.DateJoined, new {@type="date", @placeholder="MM-DD-YYYY"})

  @Html.Label("Select Book")
  @Html.DropDownList("BookId", "No book checkout")

  <input type="submit" value="Add new patron" />
}
<p>@Html.ActionLink("Show all patrons", "Index")</p>