@{
  Layout = "_Layout";
}

@model Library.Models.Patron;

<h1>Patron Details</h1>
<hr>
<h4>First Name:</h4> <p> @Html.DisplayFor(model => model.FirstName)</p>

<h4>Last Name: </h4> <p> @Html.DisplayFor(model=> model.LastName)</p>

<h4>Address:</h4>
  <p> @Html.DisplayFor(model => model.StreetAddress)
  @Html.DisplayFor(model => model.CityState)</p>
<h4>Phone Number:</h4><p>@Html.DisplayFor(model => model.PhoneNumber)</p>
<h4>Date Joined:<h4> <p>@Html.DisplayFor(model => model.DateJoined)</p>
<h4>Checked Books:</h4>
@if(@Model.JoinEntities.Count == 0)
{
  <p>No books signed out!
  @Html.ActionLink("Click Here", "AddBook", new { id = Model.PatronId}) to checkout a book!
  </p>
}
else
{
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    using (Html.BeginForm("DeleteBook", "Patron"))
    {
      @Html.Hidden("joinId", @join.BookPatronId)
      <li>
        <h4> @join.Book.Title
        </h4>

      <input id="btn" type="submit" value="Return Book">
      </li>
    }
  }
  </ul>
}
<hr>

<h6>@Html.ActionLink("Edit Patron", "Edit", new { id = Model.PatronId })</h6>

<h6>@Html.ActionLink("Delete Patron", "Delete", new { id = Model.PatronId })</h6>

<h6>@Html.ActionLink("Patron List", "Index","Patron")</h6>